/*entete de la page */

* {
    margin: 0px;
    padding: 0px;
}
/* les listes du menu n'ont pas de puce ni de decalage */
nav {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    text-align: center;
}
nav ul {
    list-style: none;
    margin-left: 2%;
}
.log {
    margin-left: 4%;
}
#der {
    margin-right: 40%;
}
/* affichage en ligne du menu niveau 1 */
#logo {
    cursor: pointer;
}
nav > ul {
    display: flex;
}
ul > img {
    margin: 0px;
    z-index: 9999;
}

ul > #pre {
    padding-top: 1%;
    margin-left: 40%;
}

li {
    padding-top: 1%;
    margin-left: 50%;
}
li > a {
    color: white;
    text-decoration: none;
} /*
corp de la page*/
.affiche {
    display: flex;
    flex-direction: column;
    border: 1px solid purple;
    width: 20%;
    height: 50%;
    padding: 1% 2%;
    margin-left: 5%;
    margin-top: 3%;
}
.la_une {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}
body {
    background-color: white;
    font-family: sans-serif;
}

.afficheimg {
    width: 100%;
    height: 40%;
}
.baniere {
    width: 100%;
    height: 400px;
}
.login {
    display: flex;
    flex-direction: column;
    padding: 10%;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 2.24%;
}
.sign {
    padding: 3%;
    background-color: rgb(192, 192, 192);
    width: 60%;
    margin-top: 5%;
    /* margin-left: 20%; */
    border: none;
    border-radius: 8px;
    align-content: center;
}
h1 {
    margin-left: 20%;
    margin-top: -15%;
}
form {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}
.logi {
    width: 40% !important;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 15%;
    background-color: #506a90;
    border: none;
    padding: 3%;
    border-radius: 8px;
}
p {
    margin-left: 10%;
}
.dontcount {
    color: #506a90;
}

/*register */
.h1_register {
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 10%;
}
.register {
    background-color: #adb3d6;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}
#row1 {
    margin-top: 2%;
}
.regis {
    background-color: #c4c4c4;
    padding: 0.5%;
    border: none;
    margin-bottom: 2%;
    margin-left: 1%;
}
.w50 {
    width: 50%;
}
.btnregis {
    width: 20%;
    border: none;
    margin-left: 25%;
    margin-bottom: 2%;
    padding: 0.5%;
    border-radius: 6px;
    cursor: pointer;
}
.btnvoir {
    text-decoration: none;
    color: black;
}
.row2 {
    display: flex;
    flex-direction: row;
}
.row2 i {
    margin-right: 90%;
}
.row {
    display: flex;
    flex-direction: row;
    margin-left: -30%;
} /*comment */
.div_comment {
    margin-left: 15%;
}
.btn_comment {
    margin-left: -7%;
    padding: 1%;
    margin-top: 2.5%;
    position: absolute;
    color: white;
    background-color: #a245ff;
}
textarea {
    margin-left: 20%;
}
.img_comment {
    width: 50%;
    width: 30%;
    margin-bottom: 2%;
}
/*pied de page*/
footer {
    background-color: #3a3a3a;
    color: aliceblue;
    position: relative;
    bottom: 0px;
    width: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 8px;
    text-align: center;
}
.foot {
    color: white;
    text-decoration: none;
}
.foot:hover {
    text-decoration: underline;
}
